body{
  /* background-image: url("black-space-wallpaper-3.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nick_main { grid-area: nick_main; }
  
.balance_main { grid-area: balance_main; }

.end_game_main { grid-area: end_game_main; }

.ships_main { 
  grid-area: ships_main; 
  overflow: auto;
}

.planets_main { grid-area: planets_main;
  overflow: auto;
 }

.nick_main, .end_game_main, .balance_main { 
  border: solid;
  text-align: center; 
  background-color:rgba(168, 159, 159, 0.44);  
}

table {
  counter-reset: rowNumber -2;
  width: 100%; 
  text-align: center; 
  background-color:rgba(168, 159, 159, 0.44);
  border: solid;
  overflow: auto; 
}
   
table tr {
  counter-increment: rowNumber;
}
   
table tr td:first-child::before {
  content: counter(rowNumber);
}
  
a {
    font-family: helvetica;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    color: black;
}
td{
  text-align: left;
}

tr:hover {
  background-color:rgba(190, 186, 186, 0.897);
}

@media all and (max-width: 1000px){
  .grid-container_main {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 10% 35% 35%;
    grid-template-areas: "nick_main" "balance_main" "end_game_main" "ships_main" "planets_main";
  }
    
  
}  
  
@media all and (min-width:1000px) {
  .grid-container_main {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-template-columns: 5% 30% 10% 10% 10% 30% 5%;
    grid-template-rows: 20% 20% 10% 45% 5%;
    grid-template-areas: 
      ". nick_main . . . end_game_main ." 
      ". . balance_main balance_main balance_main . ." 
      "ships_main ships_main ships_main . planets_main planets_main planets_main" 
      "ships_main ships_main ships_main . planets_main planets_main planets_main"
      ". . . . . . .";
  }
}