#goodbye { grid-area: goodbye; }

#nick { grid-area: nick; }

#score { grid-area: score; }

#nick,#score,#goodbye{
    border: solid;
    text-align: center;
    background-color:rgba(168, 159, 159, 0.44);
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 5%;
    font-size: 5vh;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    border: solid;
    border: 2px solid black;    
}

#grid-container_end {
    position: absolute;
    background-color: rgb(0, 0, 0,0.8);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
#end_game_message {
background-image: url("end_game.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media all and (min-width:800px){
    #grid-container_end {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . . . . . ." ". end_game_message end_game_message end_game_message end_game_message end_game_message ." ". end_game_message end_game_message end_game_message end_game_message end_game_message ." ". end_game_message end_game_message end_game_message end_game_message end_game_message ." ". end_game_message end_game_message end_game_message end_game_message end_game_message ." ". . . . . . .";
    }

    #end_game_message {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . ." ". goodbye ." ". nick ." ". score ." ". . .";
    grid-area: end_game_message;
    }
}

@media all and (max-width:800px){
    #grid-container_end {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 8fr  1fr;
    grid-template-areas: ". . ." ".end_game_message ." ". . .";
    }

    #end_game_message {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 10% 30% 10% 30%;
    grid-template-areas:  "goodbye" "." "nick" "." "score";
    grid-area: end_game_message;
    }
}