
a {
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

.end_game_planet { 
    grid-area: end_game_planet; 
    animation-name: animation2;
    animation-duration: 2s;
    animation-iteration-count: infinite; 
    text-align: center; 
    background-color:rgba(0,0,0, 0.6);
    font-size: 7vh;
    padding: 5%;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    border: solid;
    border: 2px solid black;
    overflow: auto;
}

 .name_planet {
    border: solid;
    text-align: center;
    background-color:rgba(168, 159, 159, 0.44);
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 5%;
    font-size: 5vh;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    border: solid;
    border: 2px solid black;    
}



@keyframes animation {
    0% {color: rgba(77, 76, 76, 0.5);}
    50% {color: rgba(255, 255, 255, 0.5);}
    100% {color: rgba(77, 76, 76, 0.5);} 
}

@keyframes animation2 {
    0% {color: rgba(0,0,0, 0.5);}
    50% {color: rgba(255, 255, 255, 0.5);}
    100% {color: rgba(0,0,0, 0.5);} 
}

table {
    counter-reset: rowNumber -2;
    width: 100%; 
    text-align: center; 
    background-color:rgba(168, 159, 159, 0.9);
    border: solid; 
}

table tr {
    counter-increment: rowNumber;
}
   
/* table tr td:first-child::before {
    content: counter(rowNumber);
    margin-right: 0.5em;
} */

tr:hover {
    background-color:rgba(190, 186, 186, 0.897);
}

tbody tr:nth-child(odd){
    background-color:rgb(63, 55, 55,0.6) ;
    color: #fff;
}

tbody tr:nth-child(odd):hover{
    background-color: rgba(190, 186, 186, 0.897);
    color: black;
}
  
.close_planet { grid-area: close_planet; }

.name_planet { grid-area: name_planet; }

.end_game_planet { grid-area: end_game_planet; }

.cargo_planet, #cargo_planet { grid-area: cargo_planet;
    overflow-y: auto;
    width: 100%
}

.ships_planet { grid-area: ships_planet; 
    overflow: auto;
}

.close_planet { 
        grid-area: close_planet;
        text-align: center;
        text-decoration: none;
        color: white;
        padding: 5%;
        font-weight: bold;
        display: inline-block;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        font-size: 10vh;
}

.close_planet:hover{
    color: black
}

.grid-container_planet {
    position: absolute;
    background-color: rgb(0, 0, 0,0.8);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
  }

@media all and (max-width:800px){
    .grid-container_planet {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 15% 35% 35%;
        grid-template-areas: 
        "end_game_planet close_planet"  
        "name_planet name_planet"  
        "cargo_planet cargo_planet"
        "ships_planet ships_planet";
    }
     table tr{
        font-size: 4vw;
    }
}

@media all and (min-width:800px){
    .grid-container_planet {
        display: grid;
        grid-template-columns: 45% 10% 35% 10%;
        grid-template-rows: 15% 10% 75%;
        grid-template-areas: 
        "name_planet . end_game_planet close_planet" 
        ". . . ." 
        "cargo_planet . ships_planet ships_planet";
    }   
     
   
}

/* .grid-container_main,.grid-container_ship_planet,.grid-container_way,.grid-container_planet,.grid-container_end{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
} */