@media all and (min-width:500px){
  .grid-container_log {
    display: grid;
    position: absolute;
    background-color: rgb(0, 0, 0,0.8);
    width: 100%;
    height: 100%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: ". . ." ". ekran_logowania ." ". . .";
  }
}
@media all and (max-width:500px){
  .grid-container_log {
    display: grid;
    position: absolute;
    background-color: rgb(0, 0, 0,0.8);
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "ekran_logowania";
  }
}


.ekran_logowania {
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-areas: ". . . close" "login login login ." "f1 f1 . ." ". . f2 f2" ". . . .";
  grid-area: ekran_logowania;
  
  background-color:rgba(168, 159, 159, 0.44);
  padding: 10%;
  font-weight: bold;
  transition: all 0.3s ease-out;
  border: 2px solid black;
}

.close { 
  grid-area: close; 
  font-size: 10vh;
  text-align: center;
  text-decoration: none;
  color: black;
}

.f1{grid-area: f1}
.f2{grid-area: f2}
.login { 
  grid-area: login;
  text-align: left; 
  font-size: 5vh;
}
.przycisk:hover {
  background: rgba(200, 200, 200, 1);
}


.close:hover{
  color: white;
}
.przycisk { 
  grid-area: przycisk;
  text-align: center;
  padding: 3%;
  font-weight: bold;
  transition: all 0.3s ease-out;
  border: 2px solid black;
  background-color: rgb(255, 255, 255,0.5)
 }

.backdrop {
  border: none;
  height: 100%;
  margin: 0px;
  position: fixed;
  width: 100%;
}
