
body{
  background-image: url("black-space-wallpaper-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.title { 
  grid-area: title;
  animation-name: animation;
  animation-iteration-count:infinite;
  animation-duration: 10s;
  text-align: center;
  /* color: white */
}

.button_area {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 20% 20% 60%;
  grid-template-areas: ". . ." ". button ." ". . .";
  grid-area: button_area;
}

.button {
  grid-area: button;
  background-color:rgba(168, 159, 159, 0.44);
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 10%;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  border: solid;
  transition: all 0.3s ease-out;
  font-size: 1em;
  border: 2px solid black;
}
.button:hover {
  background: rgba(190, 186, 186, 0.897);
}

th,td {
  text-align: center;
}
tr:hover {
  background-color:rgba(190, 186, 186, 0.897);
}

@keyframes animation {
  0% {color: rgba(77, 76, 76, 0.5);}
  50% {color: rgba(255, 255, 255, 0.5);}
  100% {color: rgba(77, 76, 76, 0.5);} 
}
.rank { 
  border: solid; 
  grid-area: rank;
  background-color: rgba(168, 159, 159, 0.44); 
}

@media all and (min-width:500px)  {
  /* put your css styles in here */

  .grid-container_start {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "title_area title_area" "r button_area";
    width: 100vw;
    height: 100vh;
  }

  .r {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: ". . ." ". rank ." ". . .";
    grid-area: r;
  }

  .button_area {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 20% 20% 60%;
    grid-template-areas: ". . ." ". button ." ". . .";
    grid-area: button_area;
  }

  .title_area {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas: ". . ." ". title ." ". . .";
    grid-area: title_area;
  }
}
@media all and (min-width:0px) and (max-width: 500px) {
  
  .grid-container_start {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 60%;
    grid-template-areas: "title_area " "button_area" "r" ;
    width: 100vw;
    height: 100vh;
  }
 
  .r {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas:  "rank";
    grid-area: r;
  }
  
  .title_area {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas: ". . ." ". title ." ". . .";
    grid-area: title_area;
  }

  .button_area {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "button";
    grid-area: button_area;
  }  
}