body{
  background-image: url("black-space-wallpaper-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 100%;

}

.nick_way { grid-area: nick_way; }
  
.balance_way { grid-area: balance_way; }

.game_end_way { grid-area: game_end_way; }

.ship_way { grid-area: ship_way; }

.from_way { grid-area: from_way; }

.to_way { grid-area: to_way; }

.time_way { grid-area: time_way; }

.close_way { grid-area: close_way; }

.cargo_way { grid-area: cargo_way; }

.capacity_way { grid-area: capacity_way; }



/* .backdrop {
  border: none;
  height: 100%;
  margin: 0px;
  position: fixed;
  width: 100%;
} */

.game_end_way, .time_way {  
  animation-name: animation2;
  animation-duration: 2s;
  animation-iteration-count: infinite; 
  text-align: center; 
  background-color:rgba(0,0,0, 0.6);
  font-size: 150%;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  border: 2px solid black;
  overflow: auto;
  word-wrap: break-word;
}   

.close_way { 
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 5%;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 10vh;
}


.ship_way, .balance_way, .nick_way ,.from_way, .to_way, .capacity_way {
  border: solid;
  text-align: center;
  background-color:rgba(168, 159, 159, 0.44);
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 2%;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  border: solid;
  border: 2px solid black;
  font-size: 80%;
  word-wrap: break-word;
}

.from_way, .to_way, .capacity_way{
  font-size: 120%;
}

.close_way:hover{
  color: black;
}

@keyframes animation {
  0% {color: rgba(77, 76, 76, 0.5);}
  50% {color: rgba(255, 255, 255, 0.5);}
  100% {color: rgba(77, 76, 76, 0.5);} 
}

@keyframes animation2 {
  0% {color: rgba(0,0,0, 0.5);}
  50% {color: rgba(255, 255, 255, 0.5);}
  100% {color: rgba(0,0,0, 0.5);} 
}

a {
  font-family: helvetica;
  text-decoration: none;
}

a:hover{
  color: black;
}

table {
  counter-reset: rowNumber -2;
  width: 100%; 
  text-align: center; 
  background-color:rgba(168, 159, 159, 0.9);
  border: solid;
  overflow: auto; 
}
  
table tr {
  counter-increment: rowNumber;
}
  
/* table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
} */

tr:hover {
  background-color:rgba(190, 186, 186, 0.897);
}

tbody tr:nth-child(odd){
  background-color:rgb(63, 55, 55,0.6) ;
  color: #fff;
}

tbody tr:nth-child(odd):hover{  
  background-color: rgba(190, 186, 186, 0.897);
  color: black;
}

.planet_way,.nick_way,.balance_way,.ship_way{
  font-size: 150%;
}

.grid-container_way {
  position: absolute;
  background-color: rgb(0, 0, 0,0.8);
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}



@media all and (min-width:800px){
  .grid-container_way {
    display: grid;
    grid-template-columns: 20% 15% 20% 15% 20% 10%;
    grid-template-rows: 15% 15% 10% 10% 50%;
    grid-template-areas: 
      "nick_way . balance_way . game_end_way close_way" 
      "ship_way ship_way ship_way ship_way ship_way ship_way" 
      "from_way from_way time_way time_way to_way to_way" 
      "capacity_way capacity_way cargo_way cargo_way cargo_way cargo_way" 
      ". . cargo_way cargo_way cargo_way cargo_way";
  }

}

@media all and (max-width:800px){
  .grid-container_way {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 15% 15% 15% 15% 50%;
    grid-template-areas: 
      "nick_way nick_way nick_way close_way" 
      "balance_way balance_way game_end_way game_end_way" 
      "ship_way ship_way ship_way ship_way" 
      "from_way from_way to_way to_way" 
      "capacity_way capacity_way time_way time_way" 
      "cargo_way cargo_way cargo_way cargo_way";
  }
  .from_way, .to_way, .capacity_way{
    font-size: 80%;
  }
}