.game_end_ship_planet { 
    grid-area: czas; 
    animation-name: animation2;
    animation-duration: 2s;
    animation-iteration-count: infinite; 
    text-align: center; 
    background-color:rgba(0,0,0, 0.6);
    font-size: 5vh;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    border: 2px solid black;
    overflow: auto;
}   

.close_ship_planet { 
    grid-area: close;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 5%;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 10vh;
}

.ship_ship_planet, .planet_ship_planet, .balance_ship_planet, .nick_ship_planet, .capacity_ship_planet {
    border: solid;
    text-align: center;
    background-color:rgba(168, 159, 159, 0.44);
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 2%;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    border: solid;
    border: 2px solid black;
    font-size: 80%;
}

.go_ship_planet, .trade_ship_planet {
    background-color:rgba(168, 159, 159, 0.44);
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 5%;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    border: solid;
    border: 2px solid black;
    font-family: helvetica;
    text-transform: uppercase;
    font-size: 3vh;
}

.close_ship_planet:hover{
    color: black;
}

.capacity_ship_planet{
    grid-area: capacity_ship_planet;
}

body{
    /* background-image: url("black-space-wallpaper-3.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
} 

/* .backdrop {
    border: none;
    height: 100%;
    margin: 0px;
    position: fixed;
    width: 100%;
} */

@keyframes animation {
    0% {color: rgba(77, 76, 76, 0.5);}
    50% {color: rgba(255, 255, 255, 0.5);}
    100% {color: rgba(77, 76, 76, 0.5);} 
}

@keyframes animation2 {
    0% {color: rgba(0,0,0, 0.5);}
    50% {color: rgba(255, 255, 255, 0.5);}
    100% {color: rgba(0,0,0, 0.5);} 
}

a {
    font-family: helvetica;
    text-decoration: none;
}

a:hover{
    color: black;
}

table {
    counter-reset: rowNumber -2;
    width: 100%; 
    text-align: center; 
    background-color:rgba(168, 159, 159, 0.9);
    border: solid;
    overflow: auto; 
}
    
table tr {
    counter-increment: rowNumber;
}
    
/* table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
} */

tr:hover {
    background-color:rgba(190, 186, 186, 0.897);
}

tbody tr:nth-child(odd){
    background-color:rgb(63, 55, 55,0.6) ;
    color: #fff;
}

tbody tr:nth-child(odd):hover{  
    background-color: rgba(190, 186, 186, 0.897);
    color: black;
}

.nick_ship_planet { grid-area: nick_ship_planet; }
      
.balance_ship_planet { grid-area: balance_ship_planet; }

.game_end_ship_planet { grid-area: game_end_ship_planet; }

.close_ship_planet { grid-area: close_ship_planet; }

.planet_ship_planet { grid-area: planet_ship_planet; }

.ship_ship_planet { grid-area: ship_ship_planet; }

.cargo_ship_planet { 
    grid-area: cargo_ship_planet;
    overflow: auto; 
}
      
.price_ship_planet { 
    grid-area: price_ship_planet;
    overflow: auto; 
}

.trade_ship_planet { grid-area: trade_ship_planet; }

.go_ship_planet { grid-area: go_ship_planet; }

.planet_ship_planet,.nick_ship_planet,.balance_ship_planet,.ship_ship_planet, .capacity_ship_planet{
    font-size: 140%;
}


.grid-container_ship_planet {
    position: absolute;
    background-color: rgb(0, 0, 0,0.8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

@media all and (min-width:800px){
    .grid-container_ship_planet {
        display: grid;
        
        grid-template-columns: 25% 10% 20% 10% 25% 10%;
        grid-template-rows: 10% 10% 60% 5% 15%;
        grid-template-areas: 
        "nick_ship_planet . balance_ship_planet . game_end_ship_planet close_ship_planet" 
        "planet_ship_planet planet_ship_planet capacity_ship_planet ship_ship_planet ship_ship_planet ." 
        "tables_ship_planet tables_ship_planet tables_ship_planet tables_ship_planet tables_ship_planet tables_ship_planet" 
        ". . . . . ." 
        "trade_ship_planet trade_ship_planet trade_ship_planet trade_ship_planet go_ship_planet go_ship_planet";
    }
      
    .tables_ship_planet {
    display: grid;
    grid-template-columns: 5% 40% 10% 40% 5%;
    grid-template-rows: 100%;
    grid-template-areas: ". cargo_ship_planet  . price_ship_planet . ";
    grid-area: tables_ship_planet;
    }     
}

@media all and (max-width:800px){
    .grid-container_ship_planet {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 10% 10% 10% 70% 10% 25% 25%;
        grid-template-areas: 
        "nick_ship_planet nick_ship_planet nick_ship_planet close_ship_planet" 
        "balance_ship_planet balance_ship_planet game_end_ship_planet game_end_ship_planet" 
        "planet_ship_planet planet_ship_planet ship_ship_planet ship_ship_planet" 
        "tables_ship_planet tables_ship_planet tables_ship_planet tables_ship_planet" 
        "capacity_ship_planet capacity_ship_planet capacity_ship_planet capacity_ship_planet"
        "trade_ship_planet trade_ship_planet trade_ship_planet trade_ship_planet"  
        "go_ship_planet go_ship_planet go_ship_planet go_ship_planet";
    }

    .tables_ship_planet {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "cargo_ship_planet" "price_ship_planet";
    grid-area: tables_ship_planet;
    }

    .close_ship_planet { font-size: 200% } 
    
    .go_ship_planet, .trade_ship_planet, .capacity_ship_planet {
        background-color:rgba(168, 159, 159, 0.90);
    }
    .planet_ship_planet, .ship_ship_planet {
        font-size: 4vw;
    }

}
  
